page-virement {
  .green{
    background-color: green;
  }

  .red{
    background-color: red;
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  ion-list ion-icon{
    color :white;
  }
}
